/* GLOBAL PAGE DESIGN (Giraffe Themed) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8D5B7;
    width: 100vw;
    /* Giraffe base coat */
}

header,
footer {
    display: flex;
    flex-direction: column;
    background: #5A3E25;
    padding: 15px 3rem;
    color: #E8D5B7;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 600px) {

    header,
    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
    }
}

nav ul li {
    list-style: none;
}

nav a {
    color: #C89F6D;
    text-decoration: none;
    font-weight: bold;
}

header h1 {
    color: #ffffff;
}

nav a:hover {
    color: #ffffff;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h1,
h2 {
    text-transform: uppercase;
    color: #5A3E25;
    /* giraffe dark patch */
}

p,
li,
td {
    font-size: 18px;
    line-height: 1.6;
    color: #3d2b1f;
}

/* IMAGES */

/* Mobile (small) screens */
.giraffe-img {
    width: 275px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 1.5rem auto;
    border: 3px solid #C89F6D;
    /* caramel frame */
}


/* Desktop (large) screens */
@media screen and (min-width: 600px) {
    .giraffe-img {
        width: 450px;
    }
}



/* TABLE DESIGN */
.table-section {
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    background-color: #F0E3CF;
}

th {
    background: #C89F6D;
    color: #fff;
    padding: 10px;
}

td {
    border: 1px solid #5A3E25;
    padding: 10px;
}

/* FORM DESIGN */
form {
    background: #F1E2CC;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #C89F6D;
    margin-top: 2rem;
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #5A3E25;
}

input,
select,
textarea {
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #A67C52;
    border-radius: 6px;
    background: #fff8f0;
}


@media screen and (min-width: 600px) {

    input,
    select,
    textarea {
        width: 95%;
    }
}

button {
    margin-top: 1rem;
    background: #C89F6D;
    color: #fff;
    padding: 12px 18px;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #5A3E25;
}

/* MAP SECTION */
#map {
    width: 100%;
    height: 450px;
    margin: 2rem 0;
    border-radius: 10px;
    border: 3px solid #5A3E25;
}
.chart_div {
    width: 500px;

}